<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
//Head layout
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Quicksand', sans-serif;
        }
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px; /* Set the fixed height of the footer here */
            line-height: 30px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

        :root {
            --primary: #8c0cba;
            --secondary: #6c757d;
            --success: #28a745;
            --info: #17a2b8;
            --warning: #ffc107;
            --danger: #dc3545;
            --light: #f8f9fa;
            --dark: #343a40;
        }

    </style>
</head>

<body>

//footer layout
<footer th:fragment="footer" class="footer bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <span class="text-dark">truongphucdn@gmail.com</span>
    </div>
</footer>

//Js bootstrap layout
<th:block th:fragment="bootstrap_js">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</th:block>

//Logo layout
<div th:fragment="logo">
    <a class="navbar-brand" th:href="@{/}">
        <img src="/image/cropped-fa-icon.png" width="50px" height="auto"></imp>
    </a>
    <a>Pham Truong Phuc</a>
</div>

//Menu layout
<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer}">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/service}">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contract}">Contract</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


//left-nav-customer
<div th:fragment="left-nav-customer" class="col-sm-2" style="border-right: #0c5460">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/customer/create}">New customer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/customer/create_type}">New customer type</a>
        </li>
    </ul>
</div>

//left-nav-service
<div th:fragment="left-nav-service" class="col-sm-2" style="border-right: #0c5460">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/service/create}">New service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/service/create_service_type}">New service Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/service/create_rent_type}">New rent Type</a>
        </li>
    </ul>
</div>

//left-nav-employee
<div th:fragment="left-nav-employee" class="col-sm-2" style="border-right: #0c5460">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/employee/create}">New service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/employee/create_division}">New division</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/employee/create_position}">New Position</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/employee/create_education_degree}">New education degree</a>
        </li>
    </ul>
</div>

//left-nav-contract
<div th:fragment="left-nav-contract" class="col-sm-2" style="border-right: #0c5460">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contract/create}">New contract</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contract/create_attach_service}">New attach service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/contract/create_contract_detail}">New contract detail</a>
        </li>
    </ul>
</div>

//delete popup
<th:block th:fragment="delete-popup">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Delete confirm?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post" id="form-delete">
                        <input type="hidden" id="id" name="id">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#deleteModal').on('show.bs.modal', function (event) {
                let link = $(event.relatedTarget);
                let action = link.data('action');
                let id = link.data('id');
                let modal = $(this);
                modal.find('#form-delete').attr("action", action);
                modal.find('#id').val(id);
            });
        });
    </script>
</th:block>
</body>
</html>