<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: header('Modify customer')"></head>
<body>
<div th:replace="layout/layout.html :: logo"></div>
<nav th:replace="layout/layout.html :: menu"></nav>
<div class="container-fluid row">
    <div th:replace="layout/layout.html :: left-nav-customer"></div>
    <div class="col-sm-10">
        <h3>Modify Customer</h3>
        <hr>
        <em>Please input all field below: </em>
        <form method="post" th:action="@{/customer/edit}" th:object="${customer}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ID:</label>
                <div class="col-sm-10">
                    <input th:field="*{customerId}" type="text" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Customer Type:</label>
                <div class="col-sm-10">
                    <select required th:field="*{customerType}" type="text">
                        <option disabled value="">Choose category</option>
                        <option th:each="customerType :${customerTypes}" th:text="${customerType.customerTypeName}"
                                th:value="${customerType.customerTypeId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input required th:field="*{customerName}" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Birthday:</label>
                <div class="col-sm-10">
                    <input required th:field="*{customerBirthday}" type="date">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <input th:field="*{customerGender}" type="radio" value="true">
                    <input required th:field="*{customerGender}" type="radio" value="false">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Id Card:</label>
                <div class="col-sm-10">
                    <input required th:field="*{customerIdCard}" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Phone number:</label>
                <div class="col-sm-10">
                    <input required th:field="*{customerPhone}" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input th:field="*{customerEmail}" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address:</label>
                <div class="col-sm-10">
                    <input th:field="*{customerAddress}" type="text">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Registry</button>
        </form>
    </div>
</div>
<div th:replace="layout/layout.html :: footer"></div>
<th:block th:replace="layout/layout.html :: bootstrap_js"/>
</body>
</html>