<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: header('Edit customer')"></head>
<body>
<div th:replace="layout/layout.html :: logo"></div>
<nav th:replace="layout/layout.html :: menu"></nav>
<div class="container-fluid row">
    <div th:replace="layout/layout.html :: left-nav-customer"></div>
    <div class="col-sm-10">
        <div class="container-fluid row">
            <div class="col-sm-6">
                <h3>Edit customer</h3>
                <hr>
                <p>Please input all field below: </p>
                <form method="post" th:action="@{/customer/edit}" th:object="${customer}">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">ID:</label>
                        <div class="col-sm-8">
                            <input class="form-control-plaintext" th:field="*{customerId}" type="text"/>
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerId')}"
                                 th:errors="*{customerId}">Customer id error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Customer Type(*):</label>
                        <div class="col-sm-8">
                            <select class="form-control" th:field="*{customerType}" type="text">
                                <option hidden value="">Choose category</option>
                                <option th:each="customerType :${customerTypes}"
                                        th:text="${customerType.customerTypeName}"
                                        th:value="${customerType.customerTypeId}"></option>
                            </select>
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerType')}"
                                 th:errors="*{customerType}">Customer id error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Name(*):</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{customerName}" type="text">
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerName')}"
                                 th:errors="*{customerName}">Name error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Birthday(*):</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{customerBirthday}" type="date">
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerBirthday')}"
                                 th:errors="*{customerBirthday}">Birthday error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Gender(*):</label>
                        <div class="col-sm-8">
                            <label for="male">Male</label>
                            <input id="male" th:field="*{customerGender}" type="radio" value="true">
                            <label for="female">Female</label>
                            <input id="female" th:field="*{customerGender}" type="radio" value="false">
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerGender')}"
                                 th:errors="*{customerGender}">Gender error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Id Card(*):</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{customerIdCard}" type="text">
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerIdCard')}"
                                 th:errors="*{customerIdCard}">Id card error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Phone number(*):</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{customerPhone}" type="text">
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerPhone')}"
                                 th:errors="*{customerPhone}">Phone error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{customerEmail}" type="text">
                            <div class="alert alert-danger" role="alert"
                                 th:if="${#fields.hasErrors('customerEmail')}"
                                 th:errors="*{customerEmail}">Email error>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Address:</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="*{customerAddress}" type="text">
                        </div>
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/layout.html :: footer"></div>
<th:block th:replace="layout/layout.html :: bootstrap_js"/>
</body>
</html>