<div id="carouselExampleCaptions" class="carousel slide h-100" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <img src="https://bazantravel.com/cdn/medias/uploads/53/53114-furama-resort-da-nang-11.jpg" class="d-block w-100"
         alt="...">
    <div class="carousel-item active h-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>FURAMA RESORT & VILLAS ĐÀ NẴNG</h5>
        <p>Giữa lòng thành phố Đà Nẵng, khu nghỉ dưỡng Furama Resort & Villas Đà Nẵng hiện lên
          tựa một 'ốc đảo xanh'</p>
      </div>
    </div>
    <div class="carousel-item h-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>FURAMA RESORT & VILLAS ĐÀ NẴNG</h5>
        <p>Và rồi khi dừng chân tại nơi đây, bạn tựa như lạc vào một không gian mang đậm đà nét văn
          hóa
          Việt pha lẫn với sự hiện đại</p>
      </div>
    </div>
    <div class="carousel-item h-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>FURAMA RESORT & VILLAS ĐÀ NẴNG</h5>
        <p>Xứng tầm đẳng cấp 5 sao quốc tế.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
