<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Write new blog</h1>
<form th:action="@{/create}" method="post" th:object="${blog}">
    <label>Title</label>
    <input type="text" th:field="*{title}"><br>
    <label>Content</label>
    <textarea th:field="*{content}"></textarea><br>
    <label>Author</label>
    <input type="text" th:field="*{author}"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>